footer {
	width: 100%;
	// height: 100px;
	padding: 20px 0px;
	@extend .fl-h-center;
	color: $primary;
	#footerWrap {
		width: 60%;
		@extend .fl-h-btw;
		flex-wrap: wrap;
		@extend .leadText;
		.links {
			ul {
				list-style-type: none;
				@extend .leadText;
				li a {
					text-decoration: none;
					color: $primary;
				}
			}
		}
		.contacts {
			ul {
				list-style-type: none;
				@extend .leadText;
				padding-left: 0px;
			}
		}
		.socials {
			span {
				i {
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	footer {
		#footerWrap {
			width: 90%;
			.links,
			.contacts,
			.socials {
				display: none;
			}
		}
	}
}
