#hero {
	width: 100%;
	padding: 20px 0px;
	background-color: $primary;
	.sectionWrap {
		flex-wrap: wrap-reverse;
		@extend .fl-h-btw, .fl-v-center;
	}
}

#heroText {
	width: 48%;
}

#heroImage {
	width: 48%;
	.imageWrap {
		width: 100%;
		aspect-ratio: 1/1;
		overflow: hidden;
		border-radius: 16px;
		img {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1100px) {
	#hero {
		padding: 20px 20px;
	}
	#heroText {
		width: 80%;
	}
	#heroImage {
		width: 50%;
		.imageWrap {
			aspect-ratio: 16/9;
			img {
				margin-top: -200px;
			}
		}
	}
}
