@import "./colors";
@import "./text";
@import "./common";

@import "./buttons";
@import "./inputs";
@import "./header";
@import "./hero";

@import "./specials";
@import "./testimonials";
@import "./about";
@import "./footer";

@import "./booking";

#container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: min(100vh);
	main {
		flex: 1;
	}
}
